.section1{
    width: 100%;
    height: 638.18px;
    background: linear-gradient(0deg, rgba(255, 160, 0, 0.3), 
    rgba(255, 160, 0, 0.3)), url(../img-omma/homeback1.jpg);
    
}

section h2{
    margin: 0;
    Width: 370px;
    Height: 170px;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-transform: lowercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
    padding: 15% 0 0 70%;
}

.main-title{
    margin: 75px 305px 0 305px;
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-transform: lowercase;
    color: #FFA000;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-image{
    display: block;
    width: 345px;
    height: 342px;
    margin-top: 70px;
    
}

.title-recipe{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
}

.link-recipe{
    display: block;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-decoration: none;
    color: #ffff;
    letter-spacing: 0em;
    background: #176902;
    margin: 40px 80px 0 80px;
    padding: 10px 43px;
    
}

.section3{
    width: 100%;
    Height: 772px;
    background: linear-gradient(0deg, rgba(255, 193, 7, 0.4), 
    rgba(255, 193, 7, 0.4)), url(../img-omma/homeback2.jpg);
    margin-top: 168px;
}

section h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 163px 0 0 122px;
}

section p {
    width: 424px;
    height: 333px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 70px 0 0 123px;
}

@media screen and (max-width: 1250px){
    section h2{
        padding: 15% 0 0 15%;
    }
    
}

@media screen and (max-width: 850px){
    .main-title{
        margin: 75px 20% 0 20%;
    }
    section p {
        width: 350px;
        margin-bottom: 123px;
    }
    
}

@media screen and (max-width: 550px){
    .section1{
    background-position: center;
    }
    section h2{
        font-size: 60px;
    }
    section p {
        width: 250px;
        font-size: 20px;
    }

}